<!-- Footer Section -->
<footer>
  <div class="row">
    <div class="col">
      <span><i class="fa-solid fa-leaf" style="font-size: 2em"></i></span>
      <label>&nbsp;<span></span></label>
      <span class="pageName">Let's Travel Together</span>
      <br />
      <p class="textLogo">
        The essential travel companion to discover and book trips by
        <strong>Let's Travel Together</strong>, as well as spot-on stays and
        experiences - curated and hand-picked by a global community of travel
        experts and local insiders.
      </p>
      <br />
      <span class="secondSpan"
        >We support you to make the most of your time on earth.</span
      >
    </div>
    <div class="col">
      <h3>
        Office
        <div class="underline"><span></span></div>
      </h3>
      <p>Let's Travel Together</p>
      <p>Galeria ETC, 12th Floor</p>
      <p>Tirane, AL 1057</p>
      <p class="email-id">js1@outlook.com</p>
      <h4>+355 691234567</h4>
    </div>
    <div class="col">
      <h3>
        Links
        <div class="underline"><span></span></div>
      </h3>
      <ul>
        <li><a href="#">Home</a></li>
        <!-- <li><a href="#">Services</a></li> -->
        <li><a href="join-our-team">About Us</a></li>
        <li><a href="trips">Find A Guide</a></li>
        <li><a href="contact-us">Join Us</a></li>
      </ul>
    </div>
    <div class="col newsLetter">
      <h3>
        Newsletter
        <div class="underline"><span></span></div>
      </h3>
      <form>
        <div>
          <i class="fa-solid fa-envelope" style="font-size: 2em"></i>
        </div>
        <input type="email" placeholder="Enter Your Email" required />
        <button type="submit">
          <i
            class="fa-solid fa-arrow-right-from-bracket"
            style="font-size: 2em; color: white"
          ></i>
        </button>
      </form>
      <!-- Social Icons -->
      <!-- <div class="social-icons">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="bi bi-instagram"></i>
      </div> -->
    </div>
  </div>
  <hr />
  <p class="copyright">© 2022 - All Right Reserved</p>
</footer>
